body {
  background-color: #0d101a;
  color: #fff;
  margin-bottom: 3rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  font-family: "Cinzel", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 46.5118px;
  line-height: 63px;
  text-align: center;
  color: #f2f5e0;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
